<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="timeOut" value="10" />
    <add key="baseUrl" value="https://www.ssls.com" />
    <add key="userLogin" value="ssls.automation+411@gmail.com" />
    <add key="emailName" value="ssls.automation+4" />
    <add key="emailDomen" value="@gmail.com" />
    <add key="emailNum" value="11" />
    <add key="userPassword" value="123456" />
    <add key="configFiles" value="C:\test\settings\configuration\ssls" />
    <add key="saveDirectory" value="C:\test\result\ssls" />
    <add key="errorDirectory" value="C:\test\result\ssls\2017-03-19-19-56-20\" />
    <add key="errorLog" value="C:\test\result\ssls\2017-03-19-19-56-20\error.log" />
  </appSettings>
</configuration>